body {
  background-color: white;
}
.wrapper {
  margin: 0px;
  padding: 0px;
}
#header {
  min-height: 700px;
  background: url('file:///C:/Users/Usty/Desktop/Portfolio/img/fond_titre.jpg');
  background-repeat: no-repeat;
  background-position: center top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#header h1 {
  margin: 0;
  text-align: center;
  vertical-align: middle;
  line-height: 400px;
}

#logo_vp {
	float: left;
	margin-left: 8%;
	margin-top: 1%;
	display: flex;
	position: absolute;
	z-index: 9996;
	height: 127px;
	width: 127px;
}

#nav {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 9995;
  text-align: center;
  /* color: white; */
  background-color: white;
  box-shadow: 0px 0.3em 0px 0px rgba(158,158,158);
  height: 70px;
}
#nav a {
  color: rgba(158,158,158);
  
}
#nav ul { 
  list-style-type: none;
  text-align: center;
  height: 100%;
  margin: 0px;
  margin-left: 45%;
}
#nav ul li { 
  display: inline-block;
  padding: 10px 20px;
  height: 100%;
  font-weight: bold;
  margin-top: 1em;
}
#nav ul li.toggle {
  display: none;
  text-align: right;
}          


#nav ul li:hover {
	/* background-color: rgba(0,0,0,.5); */
  	 /* text-decoration-style: solid; */
	 /* border-bottom: 2px solid rgba(0,191,255); */
	 /* color: rgba(0,191,255); */ 
}

nav ul li a:hover {	 
	 /* background-color: transparent; */
	 /* text-decoration-style: solid; */ 
 }

 #nav a:hover {
	 color: rgba(0,191,255);
	 border-bottom: 2px solid rgba(0,191,255);
	 padding-bottom: 3px;
 }
 
nav ul:visited {
	/* color: rgba (158,158,158); */
} 
 
 
section {
  margin: 0;
  padding: 40px 0;
}
section h2 {
  text-align: center;
}
section h3 a {
  color: #222;
}
section h3 a:hover {
  color: #444;
}
section .row i {
  font-size: 2em;
}
section:nth-child(even) {
  background: #EFEFEF;
}
section:nth-child(odd) {
  background: #FFFFFF;
}
#footer {
  padding: 20px;
}
ul.center {
  display: block;
  margin: auto;
}

@media only screen and (max-width: 40em) {
  #nav ul li {
    display: none;
  }
  #nav ul li.toggle {
    display: block;
  }
}
